[build]
  command = "npm run build"
  publish = "build"
  functions = "functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173
  framework = "#custom"

# Environment variables for local development
[dev.environment]
  MISTRAL_API_KEY = "e3C0jQxmSeX2NgrCSaafp9s4w6FhGQ38"
  HUGGING_FACE_API_TOKEN = "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"
  VITE_HUGGING_FACE_API_TOKEN = "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"
